body {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    max-width: unset;
    height: 90vh;
    text-align: center;
}

.header {
    padding: 1rem;
}

.input-output-container {
    display: flex;
    flex-grow: 1;
}

.text-container {
    padding: 1rem;
    display: flex;
    flex: 50;
}

.text-container label {
    flex-grow: inherit;
    display: flex;
    flex-direction: column;
}

.text-container textarea {
    resize: none;
    flex-grow: inherit;
}

.lint {
    color: #e74c3c;
}
